In [64]:
# variables
name = "sadaf"
age = 22
weight = 40.50
print(" my name is",name, "my age is", age, "and my weight is",weight)
print(type(name))
print(type(age))
print(type(weight))

 my name is sadaf my age is 22 and my weight is 40.5
<class 'str'>
<class 'int'>
<class 'float'>

In [65]:
# data types
# integers
age = 22
print("age is",age,type(age))
# string
name = "sadaf"
print("name is",name,type(name))
# float
weight = 40.50
print("weight is",weight,type(weight))
# boolean
x = True
print("x is",x,type(x))
# none
a = None
print("a is",a,type(a))

age is 22 <class 'int'>
name is sadaf <class 'str'>
weight is 40.5 <class 'float'>
x is True <class 'bool'>
a is None <class 'NoneType'>

In [66]:
# punctuators
# puncttuators are symbols used to organize sentence structure 
# (),{},[],# etc.

In [67]:
# conditional statement
age = int(input("enter  your age"))
if age >= 18:
    print("vote")
else:
    print("not vote")

enter  your age 33

vote

In [68]:
color = input("enter light color")
if color == "red":
    print("stop")
elif color == "green":
    print("go")
elif color == "yellow":
    print("look after")
else:
    print("light is broken")

enter light color red

stop

In [69]:
marks = int(input("marks:"))
if marks >= 90:
    print("A")
elif marks > 80 and marks < 90:
    print("B")
elif marks > 70 and marks < 80:
    print("C") 
else:
    print("D")

marks: 77

C

In [70]:
A = int(input("A :"))
G = input("G/M :")
if((A == 1  or A == 2) and G == "M"):
    print("Fee is 100")
elif((A == 3  or A == 4) and G == "F"):
    print("Fee is 200")
elif(A == 5 and G == "F"):
    print("Fee is 300")
else:
    print("No Fee")

A : 1
G/M : F

No Fee

In [71]:
# TERNERY OPERATOR
food = input("")
fav = "yes" if food == "biryani" else "No"
print(fav)

 biryani

yes

In [72]:
food = input("")
print("Sweet") if food == "cake" or food == "julabi" else print("no sweet")

 cake

Sweet

In [73]:
age = int(input("your age:"))
vote = ("yes", "No") [age <= 18]
print(vote)

your age: 22

yes

In [74]:
sal = float(input("enter your age:"))
tax = sal*(0.1, 0.2) [sal <= 50000]
print(tax)

enter your age: 500000

50000.0

In [75]:
p = float(input("principle:"))
r = float(input("rate:"))
t = float(input("time:"))
si = (p*r*t)/100
print(si)

principle: 4
rate: 5
time: 6

1.2

In [76]:
# operators
# arthimatic operators
a = int(input("first number:"))
b = int(input("second number:"))
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

first number: 6
second number: 8

14
-2
48
0.75
0
6
1679616

In [77]:
# compression operator
a = int(input("first number:"))
b = int(input("second number:"))
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)

first number: 3
second number: 6

False
True
True
False
True
False

In [78]:
# assignment operator
a = int(input("first number:"))
b = int(input("second number:"))
num = a + b
num += 10
# num -= 20
# num *= 2
# num /= 2
# num %= 2
print(num)

first number: 7
second number: 4

21

In [79]:
# logical operator
val1 = input("enter True / False:")
val2 = input("enter True / False:")
print("and operator:", val1 and val2)
print("or operator:", val1 or val2)
print("not operator:", not False)

enter True / False: true
enter True / False: false

and operator: false
or operator: true
not operator: True

In [80]:
# tpe conversion
a = int("2")
b = 2
c = "@@@@"
print((a * b) * c)

@@@@@@@@@@@@@@@@

In [81]:
# input in python
name = input("your name") 
age = int(input("enter any integer"))
salary = float(input("enter any float"))

your name SADAF
enter any integer 22
enter any float 500000

In [82]:
# pratice question
num_1 = int(input("first number:"))
num_2 = int(input("second number:"))
sum = num_1 + num_2
print(sum)

first number: 5
second number: 6

11

In [83]:
# pratice question
side = int(input("side of a square:"))
area = side **2
print(area)

side of a square: 6

36

In [84]:
# pratice question
num_1 = float(input("first number:"))
num_2 = float(input("second number:"))
avg = (num_1 + num_2)/2
print(avg)

first number: 6
second number: 5

5.5

In [85]:
# pratice question
a = int(input("first number:"))
b = int(input("second number:"))
if a >= b:
    print(True)
else:
    print(False)

first number: 5
second number: 4

True

In [86]:
# string concatination
str1 = "hello"
str2 = "world"
print(str1 + " " + str2)

hello world

In [87]:
# length of string
lenth = len(str1)
print(lenth)

5

In [88]:
# indexing of string
print(str1[1])

e

In [89]:
# slicing of string
print(str1[1:4])
print(str1[0:4])
print(str1[1:])
print(str1[1:len(str1)])

ell
hell
ello
ello

In [90]:
# negative indexing
str = "banana apple"
print(str[-12 : -6])
print(str[-10 : ])

banana
nana apple

In [91]:
str.endswith("le")

True

In [92]:
str.capitalize()

'Banana apple'

In [93]:
str.upper()

'BANANA APPLE'

In [94]:
str.lower()

'banana apple'

In [95]:
str.replace("Apple","Peach")

'banana apple'

In [96]:
str.find("Apple")

-1

In [97]:
str.count("a")

4

In [100]:
name = input("your name:")
lengthOfName = len(name)
print(lengthOfName)

your name: sadaf khan

10

In [103]:
strOne ="$ My name is Sadaf $$ i am 2 years old $$$ my salary is 500000 $$$$ i live in london $$$$$"
strOne.count("$")

15

In [104]:
#conditional statement
marks = int(input("marks:"))
if marks >= 90:
    print("A")
elif marks > 80 and marks < 90:
    print("B")
elif marks > 70 and marks < 80:
    print("C") 
else:
    print("D")

marks: 44

D

In [106]:
# pratice question
num = int(input("Enter a number"))
if num % 2 == 0:
    print("even number")
else:
    print("odd number")

Enter a number 22

even number

In [109]:
num_1 = int(input("Enter first number"))
num_2 = int(input("Enter second number"))
num_3 = int(input("Enter third number"))
gratestNumber = max(num_1, num_2, num_3)
print(gratestNumber)

Enter first number 4
Enter second number 3
Enter third number 6

6

In [111]:
num = int(input("Enter a number"))
if num % 7 == 0:
    print("multiple of seven")
else:
    print("Not a multiple of seven")

Enter a number 33

Not a multiple of seven

In [115]:
# lists and tuples
list_1 =[1, 2, 3, 4, 5, 6, 7, 8]
print(list_1)
print(len(list_1))

[1, 2, 3, 4, 5, 6, 7, 8]
8

In [114]:
list_1[0]
list_1[1]

1

In [116]:
students = ["sadaf", "hunza", 22, 99.9, 500000]
students[0]="ali"
print(students)

['ali', 'hunza', 22, 99.9, 500000]

In [117]:
# slicing in list
students[1:4]

['hunza', 22, 99.9]

In [118]:
list_2 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
list_2[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [121]:
list_2[-6:]

[10, 11, 12, 13, 14, 15]

In [123]:
list_2[-11:-5]

[5, 6, 7, 8, 9, 10]

In [124]:
list_2[-12:-3]

[4, 5, 6, 7, 8, 9, 10, 11, 12]

In [131]:
len(list_2)

20

In [137]:
list_2.append(4)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, [], [], 4, 4, 4, 4, 4, 4]

In [151]:
list_2.pop()

[]

In [152]:
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [159]:
list_2.reverse()
print(list_2)

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [161]:
list_2.sort()
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [162]:
list_2.insert(16,16)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [163]:
list_2.remove(16)
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [165]:
# tuples in python
tup_1 = (11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
print(tup_1 )
print(type(tup_1))

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [168]:
# indexing in tuple
tup_1[0] 
tup_1[1] 
tup_1[2]

13

In [169]:
# slicing in tuple
tup_1[2:6]

(13, 14, 15, 16)

In [170]:
# empty tupple
tup_2 = ()
print(tup_2 )
print(type(tup_2))

()
<class 'tuple'>

In [175]:
# tuple with single value
tup_3 = (3,)
print(tup_3 )
print(type(tup_3))

(3,)
<class 'tuple'>

In [185]:
value = int(input("how many movies you want to store in a list"))
movies =[]
for i in range(value):
    fav_movie = input("enter three favrite movies name")
    movies.append(fav_movie)
print(movies)

how many movies you want to store in a list 3
enter three favrite movies name don
enter three favrite movies name housefull2
enter three favrite movies name golmal

['don', 'housefull2', 'golmal']

In [186]:
list = [1, 2, 3, 2, 1]
new_list = list.copy()
final_list = new_list.reverse()
if list == final_list:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [187]:
grades = ("c", "d", "a", "a", "b", "b", "a")
grades.count("a")

3

In [191]:
grades = ["c", "d", "a", "a", "b", "b", "a"]
grades.sort()
print(grades)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

In [192]:
# Dictionary and sets
dict = {
    "name":"Sadaf",
    "age": 22,
    " marks":[98,97,95],
    "cgpa":3.5,
    "city":"gilgit"
}
print(dict)
print(type(dict))

{'name': 'Sadaf', 'age': 22, ' marks': [98, 97, 95], 'cgpa': 3.5, 'city': 'gilgit'}
<class 'dict'>

In [193]:
dict["name"]

'Sadaf'

In [195]:
dict["name"]="khan"
print(dict)

{'name': 'khan', 'age': 22, ' marks': [98, 97, 95], 'cgpa': 3.5, 'city': 'gilgit'}

In [196]:
dict["country"]="pakistan"
print(dict)

{'name': 'khan', 'age': 22, ' marks': [98, 97, 95], 'cgpa': 3.5, 'city': 'gilgit', 'country': 'pakistan'}

In [199]:
null_dict = {}
null_dict["name"]="sadaf khan"
null_dict["age"]=22
print(null_dict)

{'name': 'sadaf khan', 'age': 22}

In [208]:
# nested dictionary
student1 = {
    "name":"Sadaf",
    "age": 22,
    "subjects":{
        "math": 98,
         "english":97,
        "urdu":95
    },
    "cgpa":3.5,
    "city":"gilgit"
}
print(student1)
print(type(student1))

{'name': 'Sadaf', 'age': 22, 'subjects': {'math': 98, 'english': 97, 'urdu': 95}, 'cgpa': 3.5, 'city': 'gilgit'}
<class 'dict'>

In [211]:
print(student1["subjects"]["math"])

98

In [220]:
student1.keys()

dict_keys(['name', 'age', 'subjects', 'cgpa', 'city'])

In [213]:
student1.values()

dict_values(['Sadaf', 22, {'math': 98, 'english': 97, 'urdu': 95}, 3.5, 'gilgit'])

In [214]:
student1.items()

dict_items([('name', 'Sadaf'), ('age', 22), ('subjects', {'math': 98, 'english': 97, 'urdu': 95}), ('cgpa', 3.5), ('city', 'gilgit')])

In [228]:
student1.get("subjects")

{'math': 98, 'english': 97, 'urdu': 95}

In [231]:
student1.update({"fav_place":"hunza", "birth_place":"hunza"})
print(student1)

{'name': 'Sadaf', 'age': 22, 'subjects': {'math': 98, 'english': 97, 'urdu': 95}, 'cgpa': 3.5, 'city': 'gilgit', 'fav_place': 'hunza', 'birth_place': 'hunza'}

In [236]:
# sets
collections = {1,2,3,"a",5,"b",7,"c"}
print(collections)
print(type(collections))

{1, 2, 3, 5, 'a', 7, 'b', 'c'}
<class 'set'>

In [237]:
# empty set
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [261]:
empty_set.add(1)
empty_set.add("khan")
empty_set.add("sahib")
empty_set.add("gulvi")

In [271]:
empty_set.add(2)
empty_set.add("sadaf")
empty_set.add((1,2,3,4,5))

In [272]:
empty_set.add(3)
empty_set.add(4)
empty_set.add(5)

In [273]:
print(empty_set)

{2, 3, 4, 5, 'sadaf', (1, 2, 3, 4, 5)}

In [274]:
empty_set.remove("sadaf")

In [275]:
print(empty_set)

{2, 3, 4, 5, (1, 2, 3, 4, 5)}

In [276]:
empty_set.pop()

2

In [277]:
empty_set.clear()

In [282]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [283]:
set1.intersection(set2)

{3, 4}

In [284]:
# pratice question
dict4 ={
    "table":["a piece of furniture","list of facte and figures"],
    "cat":"a small animal"
}
print(dict4)

{'table': ['a piece of furniture', 'list of facte and figures'], 'cat': 'a small animal'}

In [9]:
# pratice question
classrooms = {"python", "java", "C++", "python", "javascript", "java", "python", "java", "C++", "C"}
len(classrooms)

5

In [10]:
marks = {}
x = int(input("enter phy : "))
marks.update({"phy" : x})
x = int(input("enter che: "))
marks.update({"che" : x})
x = int(input("enter math : "))
marks.update({"math" : x})
print(marks)

enter phy :  66
enter che:  88
enter math :  99

{'phy': 66, 'che': 88, 'math': 99}

In [13]:
values = {9, "9.0"}
print(values)

{9, '9.0'}

In [15]:
# loops
# while loop
x = 1
while x <= 5:
    print("hello")
    x = x + 1

hello
hello
hello
hello
hello

In [16]:
x = 1
while x <= 100:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [17]:
x = 100
while x >= 1:
    print(x)
    x = x - 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [20]:
n = int(input("enter a number : "))
x = 1
while x <= 10:
    print(n , "*", x, "=", n * x)
    x = x + 1

enter a number :  22

22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220

In [26]:
lst = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx =0
while idx < len(lst):
    print(lst[idx])
    idx = idx + 1

1
4
9
16
25
36
49
64
81
100

In [4]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = int(input("enter a number"))
i = 0
while i < len(tup):
    if tup[i] == x:
        print(x,"found at index", i)
        break
    else:
        print("finding...")
    i = i + 1

enter a number 36

finding...
finding...
finding...
finding...
finding...
36 found at index 5

In [2]:
# break and continue

# break 

i = 1
while i <= 5:
    print(i)
    if i == 3:
        break
    i = i + 1

1
2
3

In [1]:
i = 0
while i <= 5:
    if i == 3:
        i = i + 1
        continue
    print(i)
    i = i + 1

0
1
2
4
5

In [2]:
i = 1
while i <= 20:
    if i % 2 == 0:
        i = i + 1
        continue
    print(i)
    i = i + 1

1
3
5
7
9
11
13
15
17
19

In [5]:
# for loop
lst = [1, 2, 3, 4, 5]
for value in lst:
    print(value)

1
2
3
4
5

In [6]:
tup = (1, 2, 3, 4, 5)
for value in tup:
    print(value)

1
2
3
4
5

In [3]:
str = "sadafkhangulvii"
for char in str:
    if char == "g":
        break
    print(char)

s
a
d
a
f
k
h
a
n

In [4]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for num in nums:
    print(num)

1
4
9
16
25
36
49
64
81
100

In [15]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 49
idx = 0
for el in nums:
    if el == x:
        print(x,"found at index",idx)
    idx = idx + 1

49 found at index 6

In [19]:
# range function  /  range()
for i in range(4, 20, 4):
    print(i)

4
8
12
16

In [20]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
for i in range(100, 0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [30]:
n = int(input("enter a number"))
for i in range(1,11):
    print(n * i)

enter a number 2

2
4
6
8
10
12
14
16
18
20

In [35]:
# pass statement
for i in range(5):
    pass
   
print("out of loop")

out of loop

In [37]:
if i > 5:
    pass
print("pass statement is used to run empty loops")

pass statement is used to run empty loops

In [11]:
n = int(input("enter a number"))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(sum)

enter a number 5

15

In [15]:
n = int(input("enter a number"))
fac = 1
for i in range(1,n+1):
    fac *= i
    print(i,fac)

enter a number 5

1 1
2 2
3 6
4 24
5 120

In [34]:
n = int(input("enter a number"))
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("factorial of",n ,"is",fact)

enter a number 4

factorial of 4 is 24

In [8]:
#  function and recursion
n = int(input("enter a number"))
def factorial(n):
    fac = 1
    for i in range(1,n+1):
        fac *= i
    return fac
factorial(n)

enter a number 5

120

#### def calc_sum(a, b):
    sum = a + b
    print(sum)
calc_sum(4,6) 
calc_sum(4,5)
calc_sum(4,4)

In [2]:
def sum(a,b):
    return a+b
sum(4,5)

9

In [6]:
def hello_print():
    print("hello world")
hello_print()

hello world

In [9]:
def cal_avg(a, b, c):
    sum = a + b + c
    avg = sum / 3
    print(avg)
cal_avg(93, 94, 95)

94.0

In [ ]:
# types of function
# ---> buildin function
       # ---> print()
       # ---> len()
       # ---> type()
       # ---> range()

# ---> user define function
       # ---> written by user

In [12]:
# default parameters
def cal_prod(a = 4, b = 6):
    return a * b
cal_prod()

24

In [29]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
def list_len(list):
    print(len(nums))
list_len(nums)

10

In [31]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
def list_ele(list):
    for num in nums:
        print(num)
list_ele(nums)

1
4
9
16
25
36
49
64
81
100

In [7]:
n = int(input("enter a number"))
def factorial(n):
    fac = 1
    for i in range(1, n+1):
        fac = fac * i
    return fac
factorial(n)

enter a number 3

6

In [12]:
usd = int(input("enter usd"))
def convert(n):
    inr = usd * 83
    return inr
convert(n)

enter usd 4

332

In [14]:
n = int(input("enter a number"))
def even(n):
    if n % 2 == 0:
        print("even number")
    else:
        print("odd number")
even(n)

enter a number 5

odd number

In [29]:
# recursion
n = int(input("enter a number"))
def show(n):
    if n == 0:
        return
    print(n)
    show(n-1)
show(n)

enter a number 5

5
4
3
2
1

In [27]:
n = int(input("enter a number"))
def factorial(n):
    if n == 1 or n == 0:
        return 1
    return factorial(n - 1) * n
print(factorial(n))

enter a number 4

24

In [40]:
n = int(input("enter a number"))
def calc(n):
    if n == 0:
        return 0
    return calc(n - 1) + n
sum = calc(n)
print(sum)

enter a number 4

10

In [47]:
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 101]
def list_values(list, idx = 0):
    if idx == len(nums):
        return
    print(list[idx])
    list_values(list, idx + 1)
list_values(nums)

1
4
9
16
25
36
49
64
81
100
101

# file input / output in python